.background {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background: rgb(145, 153, 153); 
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

.container {
    background-color: rgb(35, 129, 101);
    padding: 40px;
    padding-top: 0px;
    border-radius: 25px;
}

h1 {
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: space-around;

}

button {
    border-radius: 5px;
    padding: 4px;
    width: 60px;
    height: 30px;
}

.scoreboard {
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
}

#playerScore {
    margin-right: 20px;
}

#result {
    align-self: flex-start;
    width: 200px;
    height: 20px;
    text-align: center;
}

#computerScore {
    margin-left: 20px;
}