.symbol-container {
    display: flex;
    align-self: center;
    justify-self: center;
    margin-top: 5vh;
}

img {
    height: 13vh;  
    width: 8vw;
}

.symbol {
    height: 25vh;
    width: 15vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}

#rock:hover {
    background-color: #fca5a5;
}
#rock:active {
    background-color: #fecaca;
}
#paper:hover {
    background-color: #86efac;
}
#paper:active {
    background-color: #bbf7d0;
}
#scissors:hover {
    background-color: #a5b4fc;
}
#scissors:active {
    background-color: #c7d2fe;
}

@media only screen and (max-width: 600px) {
    img {
        width: 20vw;
    }
    .symbol {
        height: 20vh;
        width: 33vw;
    }
}
